.post-list {
  margin: 200px 0 240px;
  padding: 0 15px;

  .inner {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    .filter {
      .drop-down {
        display: flex;
      }
    }
  }
}
.loading {
  position: absolute;
  top: 45%;
  left: 45%;
}
