.RequiredInput {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  width: 100%;
}
.RequiredInput::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.RequiredInput:focus {
  border-color: red;
}

input:focus {
  outline: none;
}
