.my-post-list {
  margin: 200px 0 240px;
  .inner {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    .contents {
      margin-top: 30px;
    }
  }
}
.loading {
  position: absolute;
  top: 45%;
  left: 45%;
}
