.main_num_of_posts {
  height: 400px;

  padding: 150px 0 0;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  background-color: rgb(223, 219, 222);
}

.main_num_of_posts span {
  color: #df3127;
  font-weight: bold;
}
