.contents__table {
  width: 100%;
  font-size: 16px;
  thead {
    tr {
      th {
        padding: 10px 0;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid #efefef;
      td {
        padding: 20px 0;
      }
      &:hover {
        background-color: #fafafa;
      }
      a {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
