@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'reset.scss';

/* global css */
/* COMMON */

body {
  color: #333;
  font-family: 'Noto Sans KR', 'NanumGothic', 'NanumGothicBold', 'verdana',
    'gulim', 'dotum', sans-serif !important;
  line-height: 1.4;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.inner {
  max-width: 950px;
  width: calc(100% - 150px);
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
}
