.Precaution__Title {
  padding: 50px;
  margin: 0;
  font-size: 20px;
}

.Container .step {
  padding: 20px 40px;
  line-height: 160%;
  color: rgb(66, 66, 66);
}
.Container .step li {
  margin-top: 20px;
}
.Container .step li p {
  margin-top: 15px;
  margin-left: 15px;
}

.Container .principles {
  padding: 20px 10px 20px 30px;

  line-height: 180%;
  color: #333;
}

.Container .principles li {
  list-style-type: decimal;
  margin-top: 5px;
}

@media all and (max-width: 505px) {
  .Container .step {
    margin: 0px;
    padding: 10px;
    font-size: 14px;
  }
  .Container .principles {
    font-size: 14px;
  }
}
